@import url(" https://fonts.cdnfonts.com/css/gilroy-bold ");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 0 31px;
  color: #fff;
  z-index: 5;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list,
.top__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__list-link {
  position: relative;
  transition: all 0.4s;
}
.nav__list-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  z-index: 2;
  transition: all 0.4s;
}
.nav__list-link:hover {
  transform: scale(1.05);
  transition: all 0.4s;
}
.nav__list-link:hover::after {
  left: 0;
  width: 100%;
  box-shadow: 0 3px 9px #fff;
  transition: all 0.4s;
}

.top {
  position: relative;
  max-width: 1920px;
  height: 950px;
  margin: 0 auto 100px;
}

.top__bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.top__group {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.top__title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  margin-bottom: 50px;
}

.top__btn {
  display: block;
  margin: 0 auto;
  width: 227px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Gilroy-Regular", sans-serif;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  transition: all 0.3s;
}
.top__btn:hover {
  background-color: #fff;
  color: #333;
  transition: all 0.4s;
}

.top__line {
  display: block;
  width: 100%;
  height: 1px;
  margin: 80px 0 30px;
  background-color: #fff;
}

.top__list {
  margin-bottom: 30px;
  gap: 15px;
}

.top__list-item {
  padding-right: 15px;
  border-right: 1px solid #fff;
}

.actions {
  margin-bottom: 120px;
}

.actions-subscript {
  text-align: center;
  font-size: 21px;
  margin-bottom: 15px;
}

.actions-title {
  text-align: center;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  color: #333;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 60px;
}

.actions__list {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 55px;
}

.actions__list-btn {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 36px;
  margin-bottom: 55px;
  border: 1px solid #333;
  box-shadow: 4px 3px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
.actions__list-btn:hover {
  background-color: #333;
  color: #fff;
  box-shadow: none;
  transition: all 0.4s;
}

.actions-lists__group-wedding_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 120px;
}

.actions-lists__group-wedding_list-item {
  position: relative;
  cursor: pointer;
  width: 350px;
  height: 280px;
  overflow: hidden;
  transition: all 0.4s;
}
.actions-lists__group-wedding_list-item:hover .actions-lists__group-wedding_list-img {
  transform: scale(1.1);
  transition: all 0.3s;
}

.actions-lists__group-wedding_list-img {
  transition: all 0.3s;
}

.actions-lists__group-wedding_list-title {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  z-index: 6;
}

.salons {
  background-color: #333;
  height: 541px;
}

.salons__content {
  margin: 0 auto;
  padding: 100px 0;
  width: 730px;
}

.salons__text,
.articles__text,
.media__text,
.tips__text {
  text-align: center;
  color: #fff;
  font-size: 21px;
  margin-bottom: 15px;
}

.salons__title,
.articles__title,
.media__title,
.tips__title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  margin-bottom: 45px;
}

.salons__subscripts {
  text-align: center;
  font-size: 18px;
  margin-bottom: 60px;
  color: #fff;
}

.salons__btn {
  display: block;
  margin: 0 auto;
  padding: 15px 35px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #fff;
  color: #333;
  transition: all 0.4s;
}
.salons__btn:hover {
  color: #fff;
  background-color: #333;
  box-shadow: 0 3px 18px #fff;
  transition: all 0.4s;
}

.articles {
  padding: 120px 0;
}

.articles__text,
.articles__title,
.media__text,
.media__title {
  color: #333;
}

.articles__list {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

.articles__list-item {
  position: relative;
  cursor: pointer;
  width: 350px;
  height: 370px;
  transition: all 0.4s;
}
.articles__list-item:hover {
  box-shadow: 5px 0 15px #333;
  transition: all 0.4s;
}

.articles__list-title {
  position: absolute;
  bottom: 35px;
  right: 50%;
  transform: translate(50%);
  font-size: 21px;
  text-align: center;
  color: #fff;
}

.articles__btn {
  display: block;
  margin: 0 auto;
  padding: 15px 35px;
  color: #fff;
  background-color: #333;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 10%;
  transition: all 0.5s;
}
.articles__btn:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 10px 15px #333;
  transition: all 0.4s;
}

.media {
  padding: 0 0 120px;
}

.media__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.media__list-item {
  height: 300px;
}

.tips {
  position: relative;
  padding: 100px 0 120px;
  color: #fff;
}

.tips__img {
  position: absolute;
  inset: 0;
  height: 478px;
  z-index: -2;
}

.tips__title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.tips__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.tips__content-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
}

.tips__content-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tips__content-item::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background: url("../img/icon/arrows.svg");
  background-size: cover;
  background-position: 100px;
}

.tips__content-group {
  border: 1px solid #fff;
  padding: 14px 15px;
}

.tips__content-group-bg {
  background-color: #fff;
  padding: 20px 22px;
}

.tips__content-group-inp {
  width: 200px;
  height: 45px;
  padding: 0 0 0 20px;
  border: 1px solid #333;
  margin-right: 15px;
}
.tips__content-group-inp::-moz-placeholder {
  text-transform: uppercase;
  letter-spacing: 10%;
}
.tips__content-group-inp::placeholder {
  text-transform: uppercase;
  letter-spacing: 10%;
}

.tips__content-group-btn {
  padding: 14.5px 35px;
  color: #fff;
  background-color: #333;
  font-weight: 500;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.footer {
  padding: 80px 0 20px;
}

.footer__content {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid #333;
}

.footer__list {
  width: 255px;
}

.footer__list-title {
  padding: 0 0 10px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 10%;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  margin-bottom: 30px;
}

.footer__list .footer__list-item {
  margin-bottom: 15px;
}

.footer__list-iteme {
  margin-bottom: 21px;
}

.footer__list-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__list-linkv {
  margin-right: 20px;
}

.footer__list-item-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__list-sub {
  display: flex;
  justify-content: space-between;
}

.black__header {
  position: relative;
  background-color: #333;
}

.filters {
  padding: 100px 0 95px;
  position: relative;
}

.filters__group {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.filters__list {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 160px;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #333;
  overflow: hidden;
  transition: all 0.4s;
}

.filters__list-link {
  padding: 0 10px;
}

.filters__list--show {
  height: 160px;
  overflow: visible;
  transition: all 0.5s;
}

.filters__list-title {
  display: flex;
  justify-content: space-between;
}

.product__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 95px;
}

.product__cart {
  width: 350px;
  height: 439px;
  padding: 20px;
}

.product__cart-img,
.product__like-item-img {
  display: block;
  margin: 0 auto 25px;
}

.product__cart-text,
.product__like-item-descript {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 10px;
}

.product__cart-title,
.product__like-item-title {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 15px;
}

.product__cart-btn,
.product__like-item-btn {
  position: relative;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
}
.product__cart-btn::after,
.product__like-item-btn::after {
  position: absolute;
  inset: 0;
  content: "";
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.4s ease-in;
}
.product__cart-btn:hover::after,
.product__like-item-btn:hover::after {
  width: 100%;
  transition: all 0.4s;
}

.product__btn {
  display: block;
  width: 227px;
  margin: 0 auto;
  padding: 15px 35px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: auto;
  letter-spacing: 10%;
  color: #fff;
  background-color: #333;
}

.cardtop {
  padding: 135px 0 0;
}

.cardtop__inner {
  display: flex;
  justify-content: space-between;
}

.cardtop__inner-photo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 540px;
}

.cardtop__inner-photo-img:nth-child(1) {
  width: 540px;
  height: 430px;
}
.cardtop__inner-photo-img:nth-child(2) {
  width: 160px;
  height: 120px;
}
.cardtop__inner-photo-img:nth-child(3) {
  width: 160px;
  height: 120px;
}
.cardtop__inner-photo-img:nth-child(4) {
  width: 160px;
  height: 120px;
}

.card__inner-info {
  width: 540px;
  border: 1px solid #333;
  padding: 10px;
}

.card__inner-info-title {
  text-transform: uppercase;
  letter-spacing: 10%;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 30px;
}

.card__inner-info-border {
  border: 1px solid #333;
  height: 100%;
  padding: 40px 30px;
}

.card__inner-info-list,
.card__inner-info-item {
  display: flex;
  gap: 15px;
}

.card__inner-info-list {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #979797;
}

.card__inner-info-item-title,
.card__inner-info-item-text {
  color: #979797;
  font-size: 14px;
}

.card__inner-description {
  margin-bottom: 30px;
  line-height: 150%;
  color: #333;
}

.card__inner-price {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5%;
  margin-bottom: 20px;
}

.card__inner-btn-group {
  display: flex;
  gap: 30px;
}

.card__inner-buy {
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 5%;
  text-transform: uppercase;
  background-color: #333;
  transition: all 0.4s;
}
.card__inner-buy:hover {
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  transition: all 0.4s;
}

.card__inner-addBasket {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 5%;
  border: 1px solid #333;
  transition: all 0.4s;
}
.card__inner-addBasket:hover {
  background-color: #333;
  color: #fff;
}

.full-descript {
  padding: 120px 0 120px;
}

.full-descript__group {
  display: flex;
  justify-content: space-between;
  gap: 103px;
}

.full-descript__text {
  position: relative;
  width: 540px;
}

.full-descript__text-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.full-descript__text-description {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
  height: 240px;
  overflow: hidden;
  transition: all 0.4s;
}
.full-descript__text-description::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3492830882) 0%, rgb(255, 255, 255) 100%);
  transition: all 0.4s;
}

.full-descript__text-description--show {
  height: 80%;
  overflow: visible;
  transition: all 0.4s;
}
.full-descript__text-description--show::after {
  content: none;
  transition: all 0.4s;
}

.full-descript__text-btn {
  cursor: pointer;
  position: relative;
  padding: 5px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 10%;
  text-transform: uppercase;
  z-index: 2;
  transition: all 0.4s;
}
.full-descript__text-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #333;
  z-index: -1;
  transition: all 0.4s;
}
.full-descript__text-btn:hover {
  color: #fff;
}
.full-descript__text-btn:hover::after {
  height: 130%;
  transition: all 0.4s;
}

.full-descript__list {
  display: grid;
  height: 359px;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 70px;
  transition: all 0.4s;
}

.full-descript__item {
  display: flex;
  width: 90px;
  height: 133px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.full-descript__img {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}

.product__like {
  padding-bottom: 155px;
}

.product__like-text {
  margin-bottom: 15px;
  text-align: center;
  font-size: 21px;
  line-height: 1.4;
}

.product__like-title {
  margin-bottom: 60px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.product__like-list {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */